[Desktop Entry]
Name=Framadate
Comment=webapp client for the Framadate service, a free doodle-like by Framasoft
Type=Application
Icon=framadate-app.png
Exec=webapp-container --enable-back-forward --maximized --store-session-cookies --webappUrlPatterns=https?://*framadate*,https?://*framasoft* http://framadate.org %u
Terminal=false
X-Ubuntu-Touch=true

