[Desktop Entry]
Name=OhMyBoobs
Comment=Webapp client for OhMyBoobs
Type=Application
Icon=ohmyboobs.png
Exec=webapp-container --enable-back-forward --store-session-cookies --webappUrlPatterns=https?://*ohmyboobs* http://ohmyboobstumblr.com %u
Terminal=false
X-Ubuntu-Touch=true

