# config.cfg


export namespace="vinzjobard"

export app_name="geogebra"
export app_title="GeoGebra"
export app_url="http://web.geogebra.org/chromeapp/"
export app_description="A webapp client for GeoGebra"
export app_UA="Mozilla/5.0 (Linux; Android 5.0; Nexus 5) AppleWebkit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.102 Mobile Safari/537.36"
export app_version="0.1"

export maintainer_name="Winael"
export maintainer_email="vinzjobard@gmail.com"

export icon_path="$HOME/ubuntu/ubuntuphone/webapps/Reboot/geogebra-icon.png"
